<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--*********************控制台日志***********************-->
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <!--设置日志格式及颜色-->
            <PatternLayout
                    pattern="%d{ISO8601} %-5level%notEmpty{ [%X{traceId}]} [%t] %C{}: %msg%n%throwable"
                    disableAnsi="false" noConsoleNoAnsi="false"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 根日志设置 -->
        <Root level="debug">
            <AppenderRef ref="consoleAppender" level="debug"/>
        </Root>

    </Loggers>

</Configuration>
