<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--*********************控制台日志***********************-->
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

    </Appenders>

    <Loggers>
        <!-- 根日志设置 -->
        <Root level="info">
            <AppenderRef ref="consoleAppender"/>
        </Root>

    </Loggers>


</Configuration>
